#cardscrollver {
    :root {
        --orange: #fd9940;
        --darkorange: #dd7d25;
        --platinum: #e5e5e5;
        --black: #2b2d42;
        --white: #fff;
        --thumb: #edf2f4;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        font: 16px / 24px "Rubik", sans-serif;
        color: var(--black);
        background: var(--platinum);
        margin: 50px 0;
    }

    .container {
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 1em;
        margin-top: 1em;
        text-align: center;
        color: white;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: calc(5 * 300px + 4 * 20px);
        overflow-y: auto;
        cursor: pointer;
    }

    .card {
        width: 80%;
        height: auto;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: var(--white);
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(231, 153, 6, 0.15);
        transition: all 0.2s;
        display: flex;
        position: relative;
    }

    .card img {
        width: 210px;
        height: 210px;
        object-fit: cover;
        border-radius: 10%;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 20px;
    }

    .card-content {
        display: flex;
        align-items: center;
        margin-left: 250px;
        margin-right: 100px;
    }

    .card-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .card-link-wrapper {
        margin-top: auto;
    }

    .card-link {
        display: inline-block;
        text-decoration: none;
        color: white;
        background: var(--orange);
        padding: 6px 12px;
        border-radius: 8px;
        transition: background 0.2s;
    }

    .card:hover {
        color: var(--white);
        background: var(--orange);
    }

    .card:hover .card-link {
        background: var(--darkorange);
    }

    .cards::-webkit-scrollbar {
        width: 12px;
    }

    .cards::-webkit-scrollbar-thumb,
    .cards::-webkit-scrollbar-track {
        border-radius: 92px;
    }

    .cards::-webkit-scrollbar-thumb {
        background: var(--darkorange);
    }

    .cards::-webkit-scrollbar-track {
        background: var(--thumb);
    }

    .add-bookmark {
        background-color: transparent;
        border-color: var(--black);
        color: white;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        border-radius: 8px;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        cursor: pointer;
    }

    .add-bookmark:hover {
        background-color: #725611;
    }

    @media (max-width: 575.98px) {
        .card-content {
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }

        .card img {
            position: relative;
            transform: none;
            margin-right: 0;
            margin-bottom: 20px;
            /* Menambahkan jarak antara gambar dan rating */
        }

        .add-bookmark {
            position: static;
            /* Mengubah posisi tombol menjadi statis */
            margin-top: 20px;
            /* Menambahkan jarak antara teks dan tombol */
        }
    }


    @media (min-width: 576px) and (max-width: 767.98px) {
        .card-content {
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }

        .card img {
            position: relative;
            transform: none;
            margin-right: 0;
            margin-bottom: 20px;
            /* Menambahkan jarak antara gambar dan rating */
        }

        .add-bookmark {
            position: static;
            /* Mengubah posisi tombol menjadi statis */
            margin-top: 20px;
            /* Menambahkan jarak antara teks dan tombol */
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .card-content {
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }

        .card img {
            position: relative;
            transform: none;
            margin-right: 0;
            margin-bottom: 20px;
            /* Menambahkan jarak antara gambar dan rating */
        }

        .add-bookmark {
            position: static;
            /* Mengubah posisi tombol menjadi statis */
            margin-top: 20px;
            /* Menambahkan jarak antara teks dan tombol */
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .card-content {
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }

        .card img {
            position: relative;
            transform: none;
            margin-right: 0;
            margin-bottom: 20px;
            /* Menambahkan jarak antara gambar dan rating */
        }

        .add-bookmark {
            position: static;
            /* Mengubah posisi tombol menjadi statis */
            margin-top: 20px;
            /* Menambahkan jarak antara teks dan tombol */
        }
    }
}